REDDIT_CLIENT_ID=YOUR_CLIENT_ID
REDDIT_CLIENT_SECRET=YOUR_CLIENT_SECRET
REDDIT_USER_AGENT=YOUR_APP/0.1 by YOUR_REDDIT_USERNAME
REDDIT_USERNAME=YOUR_REDDIT_USERNAME
REDDIT_PASSWORD=YOUR_REDDIT_PASSWORD
REDDIT_REDIRECT_URI=http://localhost:8001/api/auth/reddit/callback

REDDIT_REFRESH_TOKEN=

REDDIT_SCRIPT_CLIENT_ID=YOUR_CLIENT_ID
REDDIT_SCRIPT_CLIENT_SECRET=YOUR_CLIENT_SECRET

CHROMA_DB_PATH=./scripts/chromadb_subreddits
CHROMA_COLLECTION=subreddits
CHROMA_HOST=localhost
CHROMA_PORT=8000

TOP_N=1000

OPENAI_API_KEY=YOUR_OPENAI_KEY

JWT_SECRET=supersecret123

DATABASE_URL=postgresql://user:pass@localhost:5432/yourdb